
@import (reference) '../../constants';


.map_container {
  // TODO for landscape view port
  //margin: 0 20px;

  height: 500px;
  background-color: @map-background;

  &.x-full-screen {
    height: 100vh;
  }
}
