
@import (reference) '../../constants';
@import (reference) '../../general';


.notice {
  .border-box();

  min-height: @row-height;
  padding: @row-height * 0.3;
  padding-right: @row-height * 0.7;
  background-color: @sand-color;
  position: relative;

  @media (min-width: @medium-viewport) {
    .box-shadow();

    @row-height: @row-height-desktop;
    @vp: @row-height * 0.23;
    margin: (@row-height * 0.3) 0;
    padding: @vp 1.5em @vp 1em;
  }

  &.x-success {
    background-color: @light-grass;
  }

  &.x-error {
    background-color: @light-brick;
  }


  input {
    min-width: @row-height * 2;
    margin-top: @row-height * 0.2;
    padding: (@row-height * 0.1) (@row-height * 0.2);
    border: 1px solid @mild-base;
    background: none;
    font-size: 0.9em;
    display: block;
    cursor: pointer;

    @media (min-width: @medium-viewport) {
      .box-shadow();
    }

    &:active {
      background-color: fade(@mild-base, 30%);
      box-shadow: none;
    }
  }

  .close {
    padding: 0 7px;
    color: fade(@dark-base, 70%);
    font-size: 2em;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;

    @media (max-width: (@medium-viewport - 1)) {
      &:active {
        background-color: @dark-base;
      }
    }

    @media (min-width: @medium-viewport) {
      font-size: 1.5em;

      &:active {
        color: darken(@dark-base, 30%);
      }
    }
  }
}
