{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/env",
      {
        "targets": {
          "chrome": "29",
          "edge": "12",
          "ie": "10",
          "firefox": "28",
          "node": true,
          "opera": "58",
          "safari": "9"
        },
        "useBuiltIns": "usage",
        "corejs": 2
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-classes",
      {
        "loose": true
      }
    ],
    "react-hot-loader/babel"
  ]
}
