@import (reference) '../../constants';
@import (reference) '../../general';

.section-row {
  .border-box();
  @hp: (@row-height * 0.3); // horizontal padding
  @bb: 1px; // border-bottom

  min-height: @row-height + @bb;
  padding: 0 @hp;
  border-bottom: 1px solid @mild-base;

  @media (min-width: @medium-viewport) {
    @hp: (@row-height * 0.6); // horizontal padding (desktop)
    padding: (@row-height * 0.2) @hp;
    border-bottom: @bb solid @base-color;
  }

  @media (max-width: (@medium-viewport - 1)) {
    &.x-desktop {
      display: none;
    }

    &.x-mobile-last {
      border-bottom: none;
    }
  }

  &.x-last {
    border-bottom: none;
  }
}
