
@import (reference) '../../constants';


.section-title {
  @vertical-padding: (@menu-height * 0.15);
  padding: (@menu-height * 0.2) @vertical-padding (@menu-height * 0.13) @vertical-padding;
  font-size: @font-size * 1.2;
}
