
@import (reference) '../../constants';
@import (reference) '../../general';


.section-row {
  .border-box();

  min-height: @menu-height * 0.8;
  padding: (@menu-height * 0.3) (@menu-height * 0.15);
  border-bottom: 1px solid @dark-base;

  &.x-last {
    border-bottom: none;
  }
}
