
@import (reference) '../../constants';
@import (reference) './menu';


.navigation-menu {
  &:extend(.menu);

  z-index: @navigation-menu-z-index;
  position: fixed;
  left: 0;
  bottom: 0;

  @media (max-width: (@small-viewport - 1)) {
    height: @menu-height * 1.2;
  }

  @media (max-width: (@medium-viewport - 1)) {
    &.x-static {
      position: static;
    }
  }

  @media (min-width: @medium-viewport) {
    width: 60%;
    height: @header-height;
    left: 20%;
    top: 0;

    &.x-mobile {
      display: none;
    }
  }
}
