@import (reference) '../constants';

.stats-view__description {
  padding-top: 1em;
  font-style: italic;
}

.stats-view__chart-title-container {
  padding-right: 80px;
  position: relative;
}

.stats-view__chart-title {
  margin-top: 1.1em;
  margin-bottom: 0.8em;
  font-size: 1.1em;
  font-weight: 700;
}

.stats-view__unzoom {
  position: absolute;
  top: 0;
  right: 0;
}

.stats-view__pie-container {
  text-align: center;

  @media (min-width: @small-viewport) {
    width: 50%;
    display: inline-block;
  }
}

.stats-view__pie {
  display: inline-block;
}

.stats-view__flights-table {
  td {
    padding: 0 1em;
  }
}

.stats-view__empty {
  @hp: (@row-height * 2); // horizontal padding

  padding: @hp 0;

  @media (min-width: @medium-viewport) {
    background-color: @soft-white;
  }
}
