
@import (reference) './constants';

// --- General Style ---


html {
  -webkit-text-size-adjust: 100%; // prevents font scaling in landscape (iOS devices)
  -webkit-tap-highlight-color: rgba(0,0,0,0); // disables highlights of buttons or links in a transparent gray color
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: @link-color;
}


.font-family() {
  font-family: Helvetica Neue, Arial, sans-serif;
}

.border-box() {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.box-shadow() {
  box-shadow: 0 0 5px -1px @dark-base;
}

.column {
  .border-box();

  display: inline-block;
  margin-left: 0;
  margin-right: 0;
  vertical-align: top;
}

.column-width(@fraction) {
  width: 100% * @fraction;
}
