@import (reference) './constants';

// --- General Style ---

html {
  -webkit-text-size-adjust: 100%; // prevents font scaling in landscape (iOS devices)
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // disables highlights of buttons or links in a transparent gray color
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: @link-color;
}

.font-family() {
  font-family: Helvetica Neue, Arial, sans-serif;
}

.border-box() {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.box-shadow() {
  -webkit-box-shadow: 0 0 24px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 24px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.15);
}

.box-shadow-light() {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.column {
  .border-box();

  display: inline-block;
  margin-left: 0;
  margin-right: 0;
  vertical-align: top;
}

.column-width(@fraction) {
  width: 100% * @fraction;
}

.inline-flex() {
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
