@import (reference) '../constants';
@import (reference) '../general';

.empty-list {
  @color: darken(@base-color, 15%);

  margin: (@menu-height * 2) auto;
  font-size: 2em;
  color: @color;
  text-align: center;

  @media (max-width: (@medium-viewport - 1)) {
    margin-top: @menu-height;
  }

  .add-button {
    width: @menu-height * 1.5;
    height: @menu-height * 1.5;
    margin: @menu-height * 0.5 auto 0 auto;
    padding: 0;
    border: 3px solid @color;
    border-radius: 50%;
    color: @color;
    font-size: @menu-height * 1.1;
    cursor: pointer;
  }
}
