@import (reference) '../../constants';
@import (reference) '../../general';


.input-container .after-comment {
  padding: (@row-height * 0.2) 0;

  @media (min-width: @medium-viewport) {
    display: inline-block;
  }

  @media (max-width: (@medium-viewport - 1)) {
    label, input[type='checkbox'] {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
