@import (reference) '../../constants';
@import (reference) '../../general';

.input-container {
  &:extend(.column);

  position: relative;

  @media (max-width: (@medium-viewport - 1)) {
    .column-width(0.6);
  }

  @media (min-width: @medium-viewport) {
    display: table-cell;

    .x-text {
      width: @text-input-width;
    }

    .x-number {
      width: @number-input-width
    }

    .x-date {
      width: @date-input-width
    }
  }

  .arrow {
    .column-width(0.09);

    margin-left: 0;
    margin-right: 0;
    font-size: 1.5em;
    display: inline-block;

    @media (min-width: @medium-viewport) {
      display: none;
    }
  }

  input, select {
    .border-box();

    height: @row-height;
    margin: 0;
    padding: (@row-height * 0.3) (@row-height * 0.2);
    border: none;
    color: @dark-blue;

    &:disabled {
      background-color: inherit;
      color: @dark-base;
      -webkit-text-fill-color: @dark-base; // by default webkit browsers make input color slightly lighter
      opacity: 1;
    }

    @media (min-width: @medium-viewport) {
      height: @row-height * 0.9;
      padding: @row-height * 0.15;
      border: 1px solid @mild-base;
      border-radius: 5px;
      color: @dark-blue;

      &:disabled {
        background-color: @base-color;
      }

      &.x-error {
        border-color: @brick-color;
      }
    }
  }

  // margin between input and everything that goes after it, like "use a map" link
  input {
    @media (min-width: @medium-viewport) {
      margin-right: @row-height * 0.2;
    }
  }

  input, .dropdown {
    @media (max-width: (@medium-viewport - 1)) {
      width: 90%;
    }
  }

  select {
    background-color: inherit;

    @media (max-width: (@medium-viewport - 1)) {
      width: 100%;
    }

    @media (min-width: @medium-viewport) {
      min-width: @number-input-width;
      max-width: @text-input-width;
    }
  }
}
