@import (reference) '../../constants';
@import (reference) '../../general';

.input-container .col-of-two,
.input-container input.col-of-two {
  margin-left: 0;
  margin-right: 0;
  display: inline-block;

  @media (min-width: @medium-viewport) {
    margin-right: @row-height * 0.2;
  }

  @media (max-width: (@medium-viewport - 1)) {
    .column-width(0.45);

    .dropdown {
      width: 100%;
    }
  }
}
